<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>

        <!-- css assets -->
        <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    </head>
    <body>

        {{! Everything else gets inserted here }}
        {{{body}}}
    </body>
</html>
